{% extends "base.html.twig" %}

{% block title %}Celebrity{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-12">
            <h1>Welcome to Celebrity Bundle</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6 offset-3">
            <form method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search a celebrity" value="{{ search|default('') }}"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            {% set nbCol=6 %}
            {% for items in response|batch(nbCol) %}
            <div class="card-deck">
            {% set current = 0 %}
            {% for item in items %}
                {% set current = current + 1 %}
                <div class="card my-3">
                    <img class="card-img-top" src="{{ item.imageUrl }}"/>
                    <div class="card-body">
                        <div class="card-title">{{ item.name }}</div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% if item.birthday is defined %}
                        <div class="list-group-item"><label class="text-secondary mr-3">Birthday</label>{{ item.birthday }}</div>
                        {% endif %}
                        {% if item.deathday is defined %}
                            <div class="list-group-item"><label class="text-secondary mr-3">Deathday</label>{{ item.deathday }}</div>
                        {% endif %}
                        {% if item.age is defined %}
                        <div class="list-group-item"><label class="text-secondary mr-3">Age</label>{{ item.age }}</div>
                        {% endif %}
                        {% if item.height is defined %}
                        <div class="list-group-item"><label class="text-secondary mr-3">Height</label>{{ item.height }}</div>
                        {% endif %}
                        {% if item.networth is defined %}
                        <div class="list-group-item"><label class="text-secondary mr-3">Net Worth</label>{{ item.networth|format_currency('USD') }}</div>
                        {% endif %}
                        {% if item.nationality is defined %}
                        <div class="list-group-item"><label class="text-secondary mr-3">Nationality</label>{{ item.nationality }}</div>
                        {% endif %}
                        {% if item.occupation is defined %}
                            <div class="list-group-item"><label class="text-secondary mr-3">Occupation</label>
                                {% for occupation in item.occupation %}
                                    <div class="badge badge-primary">{{ occupation }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% if current != nbCol %}
                    {% set val = nbCol-current %}
                    {% for i in 1..val %}
                            <div class="card border-0"></div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}