{% extends "base.html.twig" %}
{% trans_default_domain('celebrity') %}

{% block title %}{% trans %}Celebrity{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row my-3">
			<div class="col-12">
				<h1>
					<i class="fa fa-plus"></i> 
					{% trans %}Add Celebrity{% endtrans %}</h1>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-6 offset-3">
				<form method="POST">
					<div class="input-group">
						<div class="input-group-prepend">
							<a class="btn btn-secondary" href="{{ path('ics-celebrity-add') }}">
								<i class="fa fa-plus"></i> 
								{% trans %}Add{% endtrans %}</a>
						</div>
						<input type="text" class="form-control" name="search" placeholder="{% trans %}Search a celebrity{% endtrans %}" value="{{ search|default('') }}"/>
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit" class="btn btn-primary">
								<i class="fa fa-search"></i> 
							{% trans %}Search{% endtrans %}</button>

						</div>
					</div>
					<small class="form-text text-muted">
					{% trans %}Search a celebrity and you can't add this celebrity to database for unlock advanced options.{% endtrans %}</small>
				</form>
			</div>
		</div>
		{% if response %}
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
				{% for items in response|batch(6,null) %}
					{% for item in items %}
						<div class="col">
							{% if item != null %}
								<div class="card my-3">
									<img class="card-img-top" src="{{ item.imageUrl }}"/>
									<div class="card-img-overlay">
										<div class="btn-group float-right">
											<a href="{{ path('ics-celebrity-add',{celebrityName: item.name}) }}" class="btn btn-secondary">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
									<div class="card-body">
										<div class="card-title">{{ item.name }}</div>
										<div class="">Genre :
											{{ item.gender }}</div>
									</div>
									<div class="list-group list-group-flush">
										{% if item.birthday %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Birthday{% endtrans %}</label>
												{{ item.birthday|date('d/m/Y') }}</div>
										{% endif %}
										{% if item.deathday %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Deathday{% endtrans %}</label>
												{{ item.deathday|date('d/m/Y') }}</div>
										{% endif %}
										{% if item.age %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Age{% endtrans %}</label>
												{{ item.age }}</div>
										{% endif %}
										{% if item.height %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Height{% endtrans %}</label>
												{{ item.height }}
												m</div>
										{% endif %}
										{% if item.networth %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Net Worth{% endtrans %}</label>
												{{ item.networth|format_currency('USD') }}</div>
										{% endif %}
										{% if item.nationality %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Nationality{% endtrans %}</label>
												{{ item.nationality }}</div>
										{% endif %}
										{% if item.occupation %}
											<div class="list-group-item">
												<label class="text-secondary mr-3">{% trans %}Occupation{% endtrans %}</label>
												{% for occupation in item.occupation %}
													<div class="badge bg-primary text-light">{{ occupation }}</div>
												{% endfor %}
											</div>
										{% endif %}
										{# <div class="list-group-item"> #}
									</div>
								</div>

							{% else %}
								<div class="card border-0"></div>
							{% endif %}
						</div>
					{% endfor %}

				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
